exportPattern("^[[:alpha:]]+")

S3method(duplicated, DNAbin)
S3method(subset, DNAbin)
S3method(unique, DNAbin)
S3method(duplicated, AAbin)
S3method(subset, AAbin)
S3method(unique, AAbin)

importFrom(aphid,forward)
importFrom(aphid,Viterbi)
importFrom(aphid,align)
importFrom(aphid,logsum)
importFrom(aphid,derivePHMM)
importFrom(aphid,train)
importFrom(aphid,weight)
importFrom(ape,complement)
importFrom(ape,print.DNAbin)
importFrom(ape,print.AAbin)
importFrom(phylogram,remidpoint)
importFrom(phylogram,reposition)
importFrom(kmer,kcount)
importFrom(kmer,otu)
importFrom(openssl,md5)
importFrom(stats,as.dendrogram)
importFrom(stats,as.dist)
importFrom(stats,dendrapply)
importFrom(stats,hclust)
importFrom(stats,is.leaf)
importFrom(stats,kmeans)
importFrom(stats,quantile)
importFrom(stats,runif)
importFrom(stats,aggregate)
importFrom(utils,tail)
importFrom(utils,head)
importFrom(utils,read.csv)
importFrom(utils,download.file)
importFrom(utils,untar)
importFrom(xml2,as_list)
importFrom(xml2,read_xml)

