exportPattern("^[[:alpha:]]+")

S3method(duplicated, DNAbin)
S3method(subset, DNAbin)
S3method(unique, DNAbin)

import(aphid)
import(phylogram)
importFrom(ape,complement)
importFrom(ape,print.DNAbin)
importFrom(graphics,par)
importFrom(graphics,plot)
importFrom(openssl,md5)
importFrom(Rcpp,evalCpp)
importFrom(Rcpp,sourceCpp)
importFrom(stats,dendrapply)
importFrom(stats,is.leaf)
importFrom(stats,kmeans)
importFrom(stats,quantile)
importFrom(stats,runif)
importFrom(utils,head)
importFrom(utils,read.csv)

useDynLib(insect)
